body {
  --black: #000000;
  --ash-black: #272729;
  --white: #ffffff;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--white);
  --text-color: var(--black);

  margin: 0;
  padding: 0;
  color: var(--accent);
  padding-bottom: 100px;
  overflow: hidden;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    --background: var(--black);
    --text-color: var(--white);
  }
}

/* 메뉴 박스 */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  padding-top: 80px;
  transform: translateX(-100%);
  will-change: transform;
  font-family: "Roboto", sans-serif;
}

form {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  margin-top: 7rem;
  display: flex;
  border-radius: 3.5vh;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  form {
    /* background: var(--ash-black); */
    border-radius: 10vh;
  }
}


button {
  color: white;
  background-color: var(--black);
  color: var(--white);
  height: 2.75rem;
  width: 13vh;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-weight: 2600;
  font-family: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  button {

  }
}

button:hover {
  background-color: #f3f4f6; /* hover:bg-gray-100 in Tailwind CSS */
}

.AuthButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 1.5rem;
  background-color: var(--white);
}

.AuthButton:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}


ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

li {
  color: var(--text-color); /* 메뉴 글자색 */
  display: block;
  transform-origin: -20px 50%;
  font-size: 19px;
  font-weight: 600;
  will-change: transform, opacity, filter;
}

ol {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 50px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: between;
  align-items: start;
  height: 100vh;
}

.video-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.leftAlignedText {
  text-align: left;
  grid-column: 1 / -1;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 58%;
}

.gridItem {
  margin-top: 30px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  width: 21vh;
  height: 11vh;
  font-size: 20px;
}

.gridItems {
  margin-top: 30px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  width: 21vh;
  height: 7vh;
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--black);
  border-radius: 27px;
}


